:root {
    --lightblue: #3498db;
    --red: #e74c3c;
    /*--lightred: #f9eae7;*/
    --space-grey: #33393f;
    --lightgrey: #D3D3D3;
    --green: #90EE90;

  }
  
  /* Apply custom Google font */
  body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 2.75rem;
    min-height: 100vh;
    line-height: 1.5;

  }
  
  html{
    height: 100%;
    font-size: 62.5%;

  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
  }
    
  h2 {
    font-size: 3rem;
    font-weight: 500;
  }

  h3 {
    font-size: 2.5rem;
    font-weight: 500;
  }

  img {
    display:block;
  }
  
  .sub-title {
    font-size: 1.75rem;
    font-weight: 300;
    font-style: italic;
  }

   /* style project rows based on status (late, due today) */
   .project-latexx {
    background-color: var(--lightred);
  }
  
  .project-todayxx {
    background-color: var(--lightyellow);
  }
  .calendar-container {
    width:50%;
  }
  .calendar-row {
    height: 100px;
    background-color: var(--green);
    color: var(--light);
    border-bottom: solid 1px var(--space-grey);
  }

  .calendar-event {
    height: 100px;
    width:100%;
    background-color: var(--green);
    color: var(--light);
    border:0px;
  }

  .past{
    background-color: var(--lightgrey);
  }
  
  .current{
    background-color: var(--red);
  }

  .calendar-save {
    border-bottom: solid 1px var(--space-grey);
    padding-top:15px;
    background-color: var(--lightblue);
    border-radius:0px 15px 15px 0px
  }

  .calendar-time {
    display: inline;
    float:right;
    border-bottom: solid 1px var(--space-grey);
  }

  .row-container {
    height:100px;
  }

   #save-all {
    display:inline;
    float:left;
    font-size: 1.75rem;
  }

  #clear-all {
    display:inline;
    float:right;
    font-size: 1.75rem;
  }